@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-image: url("https://e7.pngegg.com/pngimages/593/605/png-clipart-cartoon-cloud-animation-clouds-cartoon-blue-white.png");
  background-position: 100%;
  font-family: "Open Sans", sans-serif;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details-images {
  display: flex;
  align-items: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.dog-details {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column {
  display: flex;
  justify-content: center;
  flex-direction: center;
  float: left;
  width: 25%;
}
.column img {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  object-fit: cover;
  width: 80%;
  height: 80%;
  float: left;
  right: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4in;
}
.container-fluid img:hover {
  transform: scale(1.5);
}

.container {
  display: block;
  position: relative;
}
button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}
button :after {
  position: absolute;
  opacity: 0;
  top: 14px;
  transition: 0.5s;
}
button:hover {
  letter-spacing: 12px;
  padding-right: 24px;
  padding-left: 8px;
}
button:hover:after {
  opacity: 1;
  right: 10px;
}
.h_container {
  background-color: salmon;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 82px;
  right: 520px;
  text-align: center;
  line-height: 45px;
}
#heart {
  font-size: 25px;
}
#heart {
  padding-right: 24px;
  padding-left: 8px;
  color: red;
}
h2 {
  display: flex;
  justify-content: center;
}
