@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-image: url("https://e7.pngegg.com/pngimages/593/605/png-clipart-cartoon-cloud-animation-clouds-cartoon-blue-white.png");
  background-position: 100%;
  font-family: "Open Sans", sans-serif;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details-images {
  display: flex;
  align-items: center;
}
.dog-details {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container-fluid {
  width: 100%;
  padding-top: 1in;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  justify-content: center;
  border-color: aqua;
  border-width: 1px;
  border-style: inset;
  column-count: 2;
  float: left;
  width: 25%;
}
.column img {
  display: flex;
  width: 350px;
  height: 400px;
  float: left;
  padding: 0.3in;
}
.container-fluid img:hover {
  transform: scale(1.5);
}
/* .container{
	position: relative
}
.btn {
position: relative;
bottom: 10px;
right: 10px;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */
.container {
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* height: 100vh; */
  display: block;
  position: relative;
}
button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}
button :after {
  /* content: "💖"; */
  position: absolute;
  opacity: 0;
  top: 14px;
  /* right: -20px; */
  transition: 0.5s;
}
button:hover {
  letter-spacing: 12px;
  padding-right: 24px;
  padding-left: 8px;
}
button:hover:after {
  opacity: 1;
  right: 10px;
}
